html {
  --container: 300px;
  --padding-container: 10px;

  box-sizing: border-box;

  /*! Нужен для отключения горизонтального скрола  */
  position: relative;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: F9f9f9;
  color: #000;

  /*! Нужен для отключения горизонтального скрола  */
  position: relative;
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

iframe {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  bottom: 0;
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: calc(var(--container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

.currency {
  font-weight: 400;
}

@media (min-width: 480px) {
  html {
    --container: 640px;
  }
}
@media (min-width: 768px) {
  html {
    --padding: 64px;
  }
}

@media (min-width: 1024px) {
  html {
    --container: 960px;
    --padding: 32px;
  }
}

@media (min-width: 1360px) {
  html {
    --container: 1290px;
  }
}
