.modal_delivery {
}
.modal_open {
}
.modal__main {
}
.modal-delivery {
  --gap: 8px;
  padding: 32px 10px;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  display: flex;
}
.modal-delivery__container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.modal-delivery__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 18px;
}
.modal-delivery__form {
  flex-grow: 1;
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-delivery__fieldset {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: var(--gap);
}
.modal-delivery__fieldset_radio {
  flex-direction: column;
  align-items: flex-start;
}
.modal-delivery__fieldset_hide {
  visibility: hidden;
}
.modal-delivery__input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #f2f2f3;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;

  color: #000;
}
.modal-delivery__input::placeholder {
  color: #b1b1b1;
}
.modal-delivery__label {
  display: flex;
  gap: var(--gap);
  /* width: 100%; */
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.modal-delivery__radio {
  appearance: none;
  position: relative;
  width: 12px;
}
.modal-delivery__radio:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #f2f2f3;
}
.modal-delivery__radio:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  opacity: 0;

  background-color: #000;
}
.modal-delivery__radio:checked:after {
  opacity: 1;
}
.modal-delivery__input_half {
  flex-basis: calc((100% - var(--gap)) / 2);
}
.modal-delivery__submit {
  padding: 9px;
  background-color: #ff7020;
  border-radius: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  transition: all 0.3s ease;
}

.modal-delivery__submit:hover {
  background-color: #ffab08;
}
.modal-delivery__submit:active {
  transform: translate(1px, 2px);
}

.modal-delivery__submit:focus-visible {
  background-color: #f86310;
}
.modal-delivery__submit:disabled {
  background-color: #f9f9f9;
  color: #acacac;
}

@support not selector(:focus-visible) {
  .modal-delivery__submit:focus {
    background-color: #f86310;
  }
}

@media (min-width: 480px) {
  .modal-delivery {
    max-width: 524px;
    width: 100%;
    min-height: auto;
    padding: 20px 16px 29px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }
  .modal-delivery__container {
    /* max-width: unset; */
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .modal-delivery {
    max-width: 684px;
    padding: 44px 24px 24px 366px;
    background: url(../img/pic.svg) 20px center,
      linear-gradient(to right, #ffab08 50%, #fff 50%);
    /* background-size: auto, auto; */
    background-repeat: no-repeat;
  }
  .modal-delivery__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .modal-delivery__form {
    margin-bottom: 32px;
    gap: 16px;
  }
  .modal-delivery__input {
    padding: 10px 12px;
    font-size: 12px;
    height: 40px;
  }
  .modal-delivery__fieldset_radio {
    gap: 12px;
  }
  .modal-delivery__label {
    font-size: 12px;
  }
}
